{% extends 'base.html' %}

{% block content %}
    <h2>Sudoku</h2>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ user.username }}
        <div name="Row-1" style="overflow: hidden;">
            <div name="Box-1" style="float: left; margin: 4px;">
                {{ form.box_1_value_1 }}
                {{ form.box_1_value_2 }}
                {{ form.box_1_value_3 }}
                <br>
                {{ form.box_1_value_4 }}
                {{ form.box_1_value_5 }}
                {{ form.box_1_value_6 }}
                <br>
                {{ form.box_1_value_7 }}
                {{ form.box_1_value_8 }}
                {{ form.box_1_value_9 }}
                <br>
            </div>
            <div name="Box-2" style="float: left; margin: 4px;">
                {{ form.box_2_value_1 }}
                {{ form.box_2_value_2 }}
                {{ form.box_2_value_3 }}
                <br>
                {{ form.box_2_value_4 }}
                {{ form.box_2_value_5 }}
                {{ form.box_2_value_6 }}
                <br>
                {{ form.box_2_value_7 }}
                {{ form.box_2_value_8 }}
                {{ form.box_2_value_9 }}
                <br>
            </div>
            <div name="Box-3" style="float: left; margin: 4px;">
                {{ form.box_3_value_1 }}
                {{ form.box_3_value_2 }}
                {{ form.box_3_value_3 }}
                <br>
                {{ form.box_3_value_4 }}
                {{ form.box_3_value_5 }}
                {{ form.box_3_value_6 }}
                <br>
                {{ form.box_3_value_7 }}
                {{ form.box_3_value_8 }}
                {{ form.box_3_value_9 }}
                <br>
            </div>
        </div>
        <div name="Row-2" style="overflow: hidden;">
            <div name="Box-4" style="float: left; margin: 4px;">
                {{ form.box_4_value_1 }}
                {{ form.box_4_value_2 }}
                {{ form.box_4_value_3 }}
                <br>
                {{ form.box_4_value_4 }}
                {{ form.box_4_value_5 }}
                {{ form.box_4_value_6 }}
                <br>
                {{ form.box_4_value_7 }}
                {{ form.box_4_value_8 }}
                {{ form.box_4_value_9 }}
                <br>
            </div>
            <div name="Box-5" style="float: left; margin: 4px;">
                {{ form.box_5_value_1 }}
                {{ form.box_5_value_2 }}
                {{ form.box_5_value_3 }}
                <br>
                {{ form.box_5_value_4 }}
                {{ form.box_5_value_5 }}
                {{ form.box_5_value_6 }}
                <br>
                {{ form.box_5_value_7 }}
                {{ form.box_5_value_8 }}
                {{ form.box_5_value_9 }}
                <br>
            </div>
            <div name="Box-6" style="float: left; margin: 4px;">
                {{ form.box_6_value_1 }}
                {{ form.box_6_value_2 }}
                {{ form.box_6_value_3 }}
                <br>
                {{ form.box_6_value_4 }}
                {{ form.box_6_value_5 }}
                {{ form.box_6_value_6 }}
                <br>
                {{ form.box_6_value_7 }}
                {{ form.box_6_value_8 }}
                {{ form.box_6_value_9 }}
                <br>
            </div>
        </div>
        <div name="Row-3" style="overflow: hidden;">
            <div name="Box-7" style="float: left; margin: 4px;">
                {{ form.box_7_value_1 }}
                {{ form.box_7_value_2 }}
                {{ form.box_7_value_3 }}
                <br>
                {{ form.box_7_value_4 }}
                {{ form.box_7_value_5 }}
                {{ form.box_7_value_6 }}
                <br>
                {{ form.box_7_value_7 }}
                {{ form.box_7_value_8 }}
                {{ form.box_7_value_9 }}
                <br>
            </div>
            <div name="Box-8" style="float: left; margin: 4px;">
                {{ form.box_8_value_1 }}
                {{ form.box_8_value_2 }}
                {{ form.box_8_value_3 }}
                <br>
                {{ form.box_8_value_4 }}
                {{ form.box_8_value_5 }}
                {{ form.box_8_value_6 }}
                <br>
                {{ form.box_8_value_7 }}
                {{ form.box_8_value_8 }}
                {{ form.box_8_value_9 }}
                <br>
            </div>
            <div name="Box-9" style="float: left; margin: 4px;">
                {{ form.box_9_value_1 }}
                {{ form.box_9_value_2 }}
                {{ form.box_9_value_3 }}
                <br>
                {{ form.box_9_value_4 }}
                {{ form.box_9_value_5 }}
                {{ form.box_9_value_6 }}
                <br>
                {{ form.box_9_value_7 }}
                {{ form.box_9_value_8 }}
                {{ form.box_9_value_9 }}
                <br>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}